---
import { Image } from 'astro:assets'; 
import VickieFoto from "../assets/VickieImg1.png";
import Planner from "../assets/credentials/planner.jpg";
import Arrows from "../assets/consultingArrows.jpg";
import AAFART from "../assets/credentials/AAMFTcertificate.pdf";
import AAFART2 from "../assets/credentials/ART.pdf";
import IconCertificate from "../assets/credentials/ARTAdvanced.pdf";
import BusLic from "../assets/credentials/LlicenseExp2025.pdf";
---

<div class="main">
  <div class="grid-container">
    <div class="grid-item">
        <a href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ32H0HJslX48oltXq49UPY2rzTGQx1T0FsAkvCW0Zah3r__gJz7Ec6GG9TKRY4AfBKtY9zvNLDq?gv=true">
        <Image src={VickieFoto} alt="Vickie's photo" class="vic" /><p class=" consult">Click here for a free consult</p></a>
    </div>
    <div class="grid-item hide-on-small">
     
        <Image src={Planner} alt="planner" class="planner" />
     
      <div class="desc">Schedule a free consultation today</div>
    </div>
  </div>
</div>

<div class="text1">
  <p>Hi, I’m Vickie, a counselor in Maryville, TN. I help people who are exhausted from taking care of the people they love learn to rest. Yes, you can rest. You can develop a habit of refilling, meeting your own needs, and then knowing when and how to give the right way. I can help you learn when to say “no” and when to give so that your loved ones grow with you. You can stop living in the middle of other people’s chaos.<br><br>
    <h3>Stop literally loving them to death!</h3>
    <br>
    Someone told me, “When I learned that I was literally loving my son to death, I decided to change.” You can turn the corner, and this doesn’t have to be you. You can recognize the difference between helping and enabling your loved ones. You don’t have to love them to death, literally. Together, with my help, you can let go of the need to be in control and instead sit back and watch them thrive. Yes, you will be able to thrive with them. Family and friends will want to be around you again; they will feel loved instead of controlled. Their anger will subside, and they will start to have compassion for you as you learn to tell them what you need. You can laugh with them again. 
    The people who took advantage of you in the past will disappear. You will learn who genuinely cares about you because you too will start to believe that you are lovable, that you have a purpose, and that what you need matters. You will know that you matter, and you will be able to see when others are looking for someone to make their martyr, and you won’t fall for their lies. That liar in your head will fall silent and be replaced with a constant reminder of unconditional love. You use words such as mercy, grace, and forgiveness for others; you can learn that they are also here for you to embrace for yourself as well.<br><br>
    <h3>Accelerated Resolution Therapy</h3><br>
    I use a new, highly effective therapy called Accelerated Resolution Therapy. When you first come to my office,  We talk about the things that are bothering you. I get some basic information out of the way, and then we dive in. During the first session, I help you rest in the middle of the storm, to find relief, peace, and calm. Once you are able to feel again, then you can find your strength and confidence again as well. We will meet once a week until you have reached your goals, most of the time about ten sessions. During those sessions, we will use the therapy technique to move those emotions out of your body and help you learn to tell people “no” and understand that sometimes “no” is the most loving word you can use. There is hope for your future. Together, we can use your imagination, sarcasm, laughter, faith, healing, and hope to transform that black fog into a bright, peace-filled future where your needs are met, allowing you to pour yourself out for those you love over and over again without losing yourself. You want to start breathing, hoping, and thriving. You want to find contentment and live again. <br><br>
    It’s time to take your first step toward healing. Click the link and schedule a FREE 15-minute consult with me, Vickie, a therapist in Maryville, TN, and discover how the right therapy with the right therapist can change your life within just a few weeks.
    </p>
  
  <div class="container">
    <div class="column">
      <ul>

        <li><a href={BusLic}><strong>THERAPY LICENSE</strong></a></li>
        <li><a href={AAFART}>AAMFT CERTIFICATE</a></li>
        <li><a href={AAFART2}>ART CERTIFICATE</a></li>
       
        <li><a href={IconCertificate}>ART CERTIFICATE</a></li>
       
      </ul>
    </div>
    <div class="column">
      <Image src={Arrows} alt="arrows" class="tilted-image" />
    </div>
  </div>
</div>

<style>
  :root {
  --main-bg-color: darkslategray;
  --text-color: white;
  --link-color: antiquewhite;
  --link-hover-color: whitesmoke;
}

.main {
  background-color: var(--main-bg-color);
  width: 100%;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.grid-item {
  text-align: center;
}
.consult{
  margin-left: 40px;
}

.strong {
  font-weight: 900;
}

.vic, .planner {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.vic {
  border-radius: 50%;
  max-width: 450px;
  margin-top: 150px;
}

.planner {
  max-width: 25rem;
  margin-top: 58%;
}

.desc {
  padding: 10px 0;
  color: var(--text-color);
}

.text1 {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  line-height: 1.8;
  padding: 2rem 5rem 5rem;
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

.tilted-image {
  padding-top: 50px;
  max-width: 200px;
  height: auto;
  transform: rotate(-20deg);
}

a {
  text-decoration: underline;
  color: var(--link-color);
  transition: color 0.3s, box-shadow 0.3s;
  position: relative;
  display: inline-block;
  padding: 2px;
}

a:hover, a:active {
  cursor: pointer;
  color: var(--link-hover-color);
  box-shadow: 0 0 0 2px var(--text-color);
}

ul {
  list-style-type: none;
  padding-top: 25px;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
  }

  .hide-on-small {
    display: none;
  }

  .vic {
    margin-top: 50px;
  }

  .text1 {
    padding: 2rem;
  }

  .container {
    flex-direction: column;
  }

  .tilted-image {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .text1 {
    padding: 1rem;
  }
}


  /*
  .main {
    background-color: darkslategray;
    width: 100%;
  }

  .grid-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .grid-item {
    text-align: center;
  }.strong{
    font-weight: 900;
  }


  .vic {
    border-radius: 50%;
    max-width: 450px;
    width: 100%;
    height: auto;
    margin-top: 150px;
  }

  .planner {
    max-width: 25rem;
    width: 100%;
    height: auto;
    margin-top: 58%;
  }

  .desc {
    padding: 10px 0;
    color: white;
  }

  .text1 {
    background-color: darkslategray;
    color: white;
    line-height: 1.8;
    padding: 2rem 5rem 5rem;
  }

  .container {
    display: flex;
    gap: 20px;
  }

  .column {
    flex: 1;
  }

  .tilted-image {
    padding-top: 50px;
    max-width: 200px;
    height: auto;
    transform: rotate(-20deg);
  }

  a:link {
        text-decoration: underline;
        color: antiquewhite;

    }

    a:hover, a:active {
        cursor: pointer;
        color: whitesmoke;
        border: 2px solid white;
    }


  ul {
    list-style-type: none;
    padding-top: 25px;
  }

  ul li {
    margin-bottom: 10px;
  }

  ul li a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .grid-container {
      flex-direction: column;
    }

    .hide-on-small {
      display: none;
    }

    .vic {
      margin-top: 50px;
    }

    .text1 {
      padding: 2rem;
    }

    .container {
      flex-direction: column;
    }

    .tilted-image {
      margin: 0 auto;
      display: block;
    }
  }  */
</style>




<!---
import { Image } from 'astro:assets'; 
import  VickieFoto from "../assets/VickieImg1.png";
import  Planner from "../assets/credentials/planner.jpg";
import License from "../assets/credentials/ARTthumbnail.png";
import IconCertificate from "../assets/credentials/iconcertificate.png";
import ART2 from "../assets/credentials/ART.pdf";
import AAFART from "../assets/credentials/AAMFTcertificate.pdf";
import BusLic from "../assets/LicenseExp2025.pdf";
import Arrows from "../assets/consultingArrows.jpg";
---
<div class="main">
<div class="grid-container">
  <div class="grid-item1">
    <div class="wrapper">
      <a target="_blank" href=>
        <Image src={VickieFoto} alt="Vickie's photo" class="vic" />
      </a>
      <div class="desc">Click here to for a free consultation</div>
    </div>
  </div>
  <div class="grid-item1 hide-on-small">
    <div class="wrapper">
      <a target="_blank" href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ32H0HJslX48oltXq49UPY2rzTGQx1T0FsAkvCW0Zah3r__gJz7Ec6GG9TKRY4AfBKtY9zvNLDq?gv=true">
        <Image src={Planner} alt="planner" class="planner" />
      </a>
      <div class="desc">schedule a free consultation today</div>
    </div>
  </div>
</div>
</div>


<!-- 
<div class="wrapper">
  <a target="_blank" href="https://calendar.app.google/LSEwfCBFsRXHp7Q38">
    <Image src={VickieFoto} alt="#" class="vic">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
--
<div class="text1">
<p>Hi, I’m Vickie, a counselor in Maryville, TN. I help people who are exhausted from taking care of the people they love learn to rest. Yes, you can rest. You can develop a habit of refilling, meeting your own needs, and then knowing when and how to give the right way. I can help you learn when to say “no” and when to give so that your loved ones grow with you. You can stop living in the middle of other people’s chaos.<br><br>
  Someone told me, “When I learned that I was literally loving my son to death, I decided to change.” You can turn the corner, and this doesn’t have to be you. You can recognize the difference between helping and enabling your loved ones. You don’t have to love them to death, literally. Together, with my help, you can let go of the need to be in control and instead sit back and watch them thrive. Yes, you will be able to thrive with them. Family and friends will want to be around you again; they will feel loved instead of controlled. Their anger will subside, and they will start to have compassion for you as you learn to tell them what you need. You can laugh with them again. 
  The people who took advantage of you in the past will disappear. You will learn who genuinely cares about you because you too will start to believe that you are lovable, that you have a purpose, and that what you need matters. You will know that you matter, and you will be able to see when others are looking for someone to make their martyr, and you won’t fall for their lies. That liar in your head will fall silent and be replaced with a constant reminder of unconditional love. You use words such as mercy, grace, and forgiveness for others; you can learn that they are also here for you to embrace for yourself as well.<br><br>
  I use a new, highly effective therapy called Accelerated Resolution Therapy. When you first come to my office,  We talk about the things that are bothering you. I get some basic information out of the way, and then we dive in. During the first session, I help you rest in the middle of the storm, to find relief, peace, and calm. Once you are able to feel again, then you can find your strength and confidence again as well. We will meet once a week until you have reached your goals, most of the time about ten sessions. During those sessions, we will use the therapy technique to move those emotions out of your body and help you learn to tell people “no” and understand that sometimes “no” is the most loving word you can use. There is hope for your future. Together, we can use your imagination, sarcasm, laughter, faith, healing, and hope to transform that black fog into a bright, peace-filled future where your needs are met, allowing you to pour yourself out for those you love over and over again without losing yourself. You want to start breathing, hoping, and thriving. You want to find contentment and live again. <br><br>
  It’s time to take your first step toward healing. Click the link and schedule a FREE 15-minute consult with me, Vickie, a therapist in Maryville, TN, and discover how the right therapy with the right therapist can change your life within just a few weeks.
  </p>
    <div class="container">
      <div class="column">
        <ul>
  
            <li><a href={AAFART}>AAMFT certificate</a></li>

            <li><a href={IconCertificate}>ART certificate</a></li>

            <li><a href={BusLic}>Business license</a></li>
        </ul>
      </div>
      <div class="column">

        <Image src={Arrows} alt="arrpws" class="tilted-image"></Image>

      </div>

</div>
</div>


<style>
  .main{
   /* background: linear-gradient(to bottom, #4d2647, #488494);  */
   background-color: darkslategray;
    width: 100%;
  }
 .grid-container1 {
    display: flex;
    gap 20px;
  }

  .column{
    flex: 1;
    padding: 20px;
  }

  .tilted-image {
  max-width: 100px;
  height: auto;
  transform: rotate(-20deg);
}

  @media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

  .text1{
    background-color: darkslategray;
    color: white;
    line-height: 1.8;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }

  /*.vic {
    width: 100%;
    height: auto;
  }  */

  .desc {
    text-align: center;
    padding: 10px 0;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .hide-on-small {
      display: none;
    }
  }

  .vic{
    margin-top: 150px;
    margin-left: 1rem;
    border-radius: 50%;
  
    min-width: 450px;
  } 

  .planner{
    margin: 58% 5rem 0; /* Centers horizontally and keeps top margin */
    max-width: 50rem;
    max-height: 25rem;
    width: 25rem; /* Adjust as needed */
    
    /*
    margin-top: 45%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    max-width: 50rem;
    height: auto;    */
  }

.grid-container {
  display: row;
  grid-template-row: repeat(4, 1fr);
  padding: 20px;
}

.grid-item {
  background-color:darkslategray;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-column: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
</style> -->